@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500;600;700&display=swap');
.search-inner select {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
    border-radius: 3px;
    height: 45px;
}
.headertopleft a {
    display: block;
    text-align: right;
    color: #16143e;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 5px;
}

.headertopleft i {
    color: #d80606;
    margin-right: 6px;
}
a, a:hover{ text-decoration: none; transition: all .2s ease-in;}
.search-inner form .row {
    width: 100%;
    margin: 0px;
}

.search-inner button {
    width: 100%;
    margin-top: 30px;
    height: 45px;
    border: 0px;
    background: #d80606;
    color: #fff;
    border-radius: 4px;
}
.srchform {
    margin-top: -40px;
}
.company ul li:last-child {
    margin: 0;
}
form.formquote {
    display: inline-block;
    width: 100%;
}

form.formquote input, form.formquote select {
    width: 100%;
    border: 0px;
    border-bottom: #ddd 1px dashed;
    margin-bottom: 10px;
    border-radius: 0px;
    font-weight: 200;
}

form.formquote .form-group {
    display: inline-block;
    width: 100%;
}

form.formquote textarea {
    max-height: 90px;
    height: 90px;
    border: 0px;
    border-bottom: #ddd 1px dashed;
    border-radius: 0px;
    text-align: left;
    font-weight: 200;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #ddd;
}
.featurethum {
    padding: 30px;
}

.featurethum .discription {
    clear: both;
    margin-top: 18px;
    display: inline-block;
    width: 100%;
    color: #fff;
}

.featurethum h4 {
    float: left;
    color: #ffffff;
    padding-top: 20px;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 400;
}

.featurethum .featureicon {
    float: left;
}

.featurethum span.value {
    background: #d80606;
    height: 40px;
    width: 40px;
    position: absolute;
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    line-height: 40px;
    border-radius: 50%;
    left: -20px;
}
p {
    font-size: 1rem;
    line-height: 28px;
    font-weight: 300;
    color: #222;
}
.banner-form::before {content: "";position: absolute;top: -30px;background: url(../images/download.png) no-repeat #c70000 center;height: 70px;width: 70px;margin: auto;border-radius: 50%;left: 0;right: 0;border: #fff 4px solid; 	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;}


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body
{
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 300;
}
h1, h2, h3, h4, h5,  h6
{
	font-family: 'Fira Sans', sans-serif;
	line-height: 100%;
	color: #212121;
}


:root
{
	--primary-color: #16143e;
	--secondary-color: #000;
	
}
nav.navbar ul li a {
    color: #000;
    font-size: 14px;
    font-weight: 500;
	transition: all 0.3s linear;
	text-transform: uppercase;
}
nav.navbar ul li:hover a {
    color: #fff;
	background: var(--primary-color)
}
.navbar-nav li a {
    margin-right: 20px;
}
.achivement h3 {
    color: #16143e;
    font-weight: 500;
    font-size: 1.5rem;
}

nav.navbar a.navbar-brand {
    color: #000;
    font-weight: bold;
    font-size: 25px;
}
.banner-form h1
{
    color: #000;
}

section.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://resources.workable.com/wp-content/uploads/2015/11/business-consultant-640x230.jpg);
    width: 100%;
    padding: 170px 0 60px;
    position: relative;
    background-size: cover;
    background-position: bottom center;
}


section.banner .hero_text h1 {
    color: #fff;
    text-align: left;
}

section.banner h1 {
    color: #000;
    line-height: 60px;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}
.hero_para {
    margin-top: 50px;
}

.hero_para h3 {
    color: #c70000;
    font-family: poppins;
    font-weight: bold;
}

.hero_para p {
    color: #fff;
    font-family: poppins;
}

.hero_text p{
    color: #fff;
}
.googleratings {
    margin-top: 20px;
}
.banner .banner-form
{
	background: rgb(255 255 255);
	padding: 50px 30px 30px;
	border-radius: 10px;
	position: relative;
	display: inline-block;
	width: 100%;
	text-align: center;
}

section.google-review {
    background: url(../images/bg.png) no-repeat #16143e;
    padding: 40px 0 340px;
    background-position: bottom center;
}

section.google-review h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 2.4rem;
    color: #fff;
}

.googleratings img {
    margin: auto auto 20px;
    display: block;
}
section.banner button {
    border-color: transparent;
    background: #16143e;
    color: #ffff;
    padding: 6px 0px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin: 10px 0;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}
.search-main button:hover,
section.banner button:hover {
	background: #e62e2d;
	color: #fff;
}
.company-left button:hover {
    background: var(--primary-color);
	}
	
	.faq-left button:hover
	{
		background: #000000a1;
	}
	.blog-main-desc a:hover i {
    padding-left: 10px;
}
section.services{
		padding: 70px 0px 40px;
		position: relative;
		background: #ffffff;
		overflow: hidden;
}
section.services:before
{
	background: url("../images/Transparent-background-with-dots.png");
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.2;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
}

.heading h2{
		text-transform: capitalize;
		font-size: 30px;
		font-weight: 500;
		line-height: 40px;
		margin-bottom: 30px;
		color: #16143e;
	}
.heading h2 span{
		font-size: 20px;
		display: block;
		color: #d80606;
	}
	.featurethum .discription p {
    color: #fff;
}

.services-inner::before {content: "";position: absolute;left: auto;right: 30px;height: 50px;width: 5px;background: #16143e;top: 0;transition: all .1s ease-in;}

.services-inner::after {
    content: "";
    position: absolute;
    left: auto;
    right: 40px;
    height: 30px;
    width: 5px;
    background: #d80606;
    top: 0;
    transition: all .1s ease-in;
}

.services-inner:hover::before {
    height: 30px;
}

.services-inner:hover::after {
    height: 50px;
}
.services-inner p {
    margin: 0;
    line-height: 32px;
}
.services-inner {
		margin-bottom: 30px;
		background: #fff;
		padding: 30px;
		text-align: left;
		box-shadow: #f9f9f9 0 0 20px;
		position: relative;
		transition: all .1s ease-in;
	}
.services-inner h3 {
    font-size: 1.5rem;
    color: #16143e;
    font-weight: 500;
    margin: 15px 0px;
    padding: 0;
}
.company p.company-text {
    margin: 0px;
}
.company ul {
    margin-top: 30px;
    list-style: none;
}
.company ul li {
	margin-bottom: 13px;
	position: relative;
	color: #fff;
	padding-left: 40px;
	font-weight: 400;
	font-size: 1.2rem;
}
.company ul li:before {content: "";width:24px;height:24px;border-radius: 50%;background:url(../images/checked.png) no-repeat;display: inline-block;margin-right: 0;background-size: contain;position: absolute;left: 0;}

.company button {
    border: 1px solid var(--primary-color);
    background: transparent;
    text-transform: uppercase;
	padding: 10px 15px;
	display: inline-block;
	margin-top: 20px;
	transition: all 0.3s ease;
}
.company {
    background: url("../images/texture.jpg");
    padding: 70px 0;
    margin: 0px 0;
    opacity: 1;
    position: relative;
}
.search-inner {
    background: #fff;
    padding: 40px 20px;
    box-shadow: 0 0 20px #ddd;
    border-radius: 10px;
    display: flex;
    width: 100%;
}
.search-inner form {
    display: flex;
    align-items:flex-end;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
.search-inner form label {
    display: block;
    color: #16143e;
    font-size: 1rem;
    font-weight: 400;
}
.search-inner .form-container {
    max-width: 43%;
    width: 100%;
}
.search-inner .form-container select {
    width: 100%;
	padding: 10px;
}

.search-inner .form-container .search-btn {
    width: 100%;
	padding: 10px;	
}
.search-inner .search-btn button {
    background: var(--primary-color);
    width: 100%;
    padding: 10px 50px;
    border: none;
}
.search-inner .search-btn i{
	color: #fff;
}
section.reviews{
	padding: 150px 0 80px;
}
section.reviews p {
    font-size: 18px;
    font-weight: normal;
    line-height: 23px;
	color: #202046;
}
section.reviews p.name {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
	color: #1f232b;
	margin-bottom: 0;
}
section.reviews p i {
	color: #fab423;
	font-size: 14px;
	margin-right: 3px;
}

section.packers .search-first {
    display: flex;
    justify-content: space-between;
}
.search-first-left {
    max-width: 50%;
    width: 50%;
    flex: 0 0 50%;
}
.search-first img {
    height: 150px;
    object-fit: cover;
}
.search-main {
    margin-top: 50px;
    box-shadow: 4px 3px 10px #00000030;
    padding: 20px;
    border-radius: 10px;
}
.search-first-left h5 {
    font-size: 18px;
    line-height: 25px;
}
.search-first-left p.star {
    margin-bottom: 0px;
    color: var(--primary-color);
    font-weight: 500;
}
.search-main button {
    background: var(--primary-color);
    color: #fff;
    padding: 7px 20px;
    border-color: transparent;
	transition: all 0.3s linear;
}

.faq .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        background-color: #c9ecf7;
		  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.faq .panel-title a:before{
	background: var(--primary-color);
	color: #fff;
	border-radius: 50%;
	font-size: 12px;
	padding: 4px 7px;
	margin-right: 10px;
	
}
.faq .panel-title a.collapsed:after{
    content: "\f067";
    font-family: 'FontAwesome';
    position: absolute;
    right: 15px;
	font-size: 15px;
	font-weight: normal;
}
.faq .panel-title a:after{
    content: "\f068";
    font-family: 'FontAwesome';
    position: absolute;
    right: 15px;
	font-size: 15px;
	font-weight: normal;
}

.faq .panel-title a{
        font-size: 17px;
		font-family: roboto;
		font-weight: normal;
		position: relative;
		color: #1f232b;
    }

.faq {
  counter-reset: faq;
background: linear-gradient(to right, #6dd5ed, #2193b0);
    padding: 50px 0;
}

.faq h4 a::before {
  counter-increment: faq;
  content: counter(faq);
}

.faq .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

.faq .more-less {
        float: right;
        color: #212121;
    }

.faq .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }

.panel.panel-default .panel-collapse {
    border: 1px solid var(--primary-color);
    padding: 10px;
    margin-bottom: 20px;
	background: #fff;
}

.faq .panel-default > .panel-heading h4 {
    margin-bottom: 0;
}

.panel.panel-default {
    margin-bottom: 20px;
}

.faq .faq-left input:focus,.faq-left textarea:focus
{
		outline: none;
		box-shadow: none;
}

.faq .faq-left input,.faq-left textarea
 {
    border: none;
    border-bottom: 2px solid #000;
    border-radius: 0;
	background: 0 0;
	padding: 10px;
}
.faq-left textarea {
    resize: none;
}

.faq-left button {
    background: #000;
    border: transparent;
    padding: 10px 30px;
    font-size: 17px;
    text-transform: uppercase;
	color: #fff;
	transition: all 0.3s linear;
}

.faq-right {
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 6%);
}

.panel.panel-default:hover .panel-heading {
    padding-left: 10px;
}
.faq .faq-left label{
	color: #fff;
}
section.faq input::placeholder,
section.faq textarea::placeholder {
    color: #000;
}
.faq-left .form-group {
    margin-bottom: 40px;
}
.blog-main-desc p.heading {
    font-size: 18px;
    color: #444444;
    font-weight: 600;
}
.blog-main-desc p {
    font-size: 15px;
    line-height: 22px;
	transition: all 0.3s ease;
}
ul.footer-social li:hover {
    transform: scale(1.2);
}
.blog-main-desc a {
    color: #444444;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    margin: 20px 0 0;
}
.blog-main-desc a i {
    margin-left: 20px;
    font-size: 19px;
}
.blog-main-img img {
    width: 100%;
}
.blog-main-desc {
    padding: 25px 15px;
    background: #fff;
    box-shadow: 0px 0px 10px #00000036;
}
.blog-main-date {
    position: absolute;
    background: var(--primary-color);
    padding: 10px;
    top: -10px;
    left: 10px;
	text-align: center;
}
.blog-main-date p{
	color: #fff;
	margin-bottom: 0;
	font-weight: bold;
}
.blog-main-date p.date{
	font-size: 20px;
}
.blog-main-date p.date:after{
	content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 0;
}
section.blog{
	padding: 100px 0;
}
section.contact {
    background:url(../images/row-bgimage-6.jpg) no-repeat center center;
    padding: 50px 0;
    background-size: cover;
}
section.contact::before{content: "";position: absolute;left: 0;top: 0;width:100%;height: 100%;background: #16143ee3;}
section.contact .contact-inner {
    color: #fff;
}
section.contact .contact-inner h3 {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 33px;
    text-align: center;
}
section.contact .contact-inner h3 span {
    display: block;
    font-size: 30px;
}
.contact-inner {
    display: flex;
    justify-content: space-between;
}

.contact-Desc {
    max-width: 80%;
    width: 100%;
}

.contact-Desc  p.heading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-Desc p {
    margin-bottom: 0;
}
section.contact {
    position: relative;
    margin: 0;
}

.footer-main img {
    width: 100%;
}

.footer-inner ul li img {
    width: 100%;
}

section.footer {
    background: #171824;
    padding: 80px 0 0;
}

section.footer .footer-column h2 {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
	margin-bottom: 20px;
}

.footer-inner p {
    font-size: 16px;
    color: #999595;
    margin-top: 20px;
}
.footer-social li {
	display: inline-block;
margin: 20px 10px 0 0;
transition:all 0.3s linear;	
}

.footer-social li a i {
    color: #fff;
}

.footer-social li a {
    background: var(--primary-color);
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.footer-main {
    display: flex;
    justify-content: space-between;
}

.footer-main .footer-main-left {
    max-width: 30%;
    width: 30%;
}

.footer-main .footer-main-right {
    max-width: 65%;
    width: 65%;
}
.footer-work li {
    display: inline-block;
    width: 45%;
    margin: 0 20px 20px 0;
}

.footer-work li:nth-child(2n) {
    margin-right: 0;
}	
.footer-main-right p {
    margin: 0;
}
.footer-main-right p {
    color: #fff;
    margin-bottom: 10px;
    line-height: 20px;
}
.footer-work li {
    position: relative;
}

.footer-work li:before {content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: var(--primary-color);opacity: 0;}
.footer-work li {
    position: relative;
}

.footer-work li:hover:before{opacity: 0.6;}
.business-right img{
		width: 100%;
}
.services-inner .img-circle {
    display: block;
}

li.nav-item.contct a {
    margin-right: 0;
    color: var(--primary-color);
}
.footer-main {
    margin-bottom: 20px;
}
.company-right img {
    width: 100%;
}
.reviews-left {
    position: relative;
}

.reviews-left:before {content: "";position: absolute;top: 0;left: 0;width: 40px;height: 40px;background: url("../images/quote.png");background-repeat: no-repeat;background-size: contain;z-index: -1;}
.reviews-left {padding-top: 20px;}
.company::before {content: "";position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: #16143ecc;}

.company .heading h2, .company  p {
    color: #fff;
    margin: 0;
}
section.packers {
    padding: 70px 0 30px;
}

.reviewer-box {
    padding: 30px 30px 50px;
    box-shadow: 0 0 10px #efefef;
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

.reviewer-box h4 a {
    color: #16143e;
}

.reviewer-box .reviewer-star-rating {
    color: #d80606;
    font-weight: 500;
    display: flex;
    font-size: 1.1rem;
}

.reviewer-box .reviewer-star-rating i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.review-type {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 20px 0;
}

.reviewer-img.smallpic {border-radius: 50%;overflow: hidden;width: 70px;height: 70px;margin: auto;border: #16143e 2px solid;}

.reviewer-img.smallpic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.review-type span {
    position: relative;
    background: #fff;
    text-align: center;
    width: 100%;
    padding: 5px 20px;
    border: #d80606 1px solid;
    border-radius: 15px;
    font-size: .8rem;
}

.review-type::before {content: "";position: absolute;top: 50%;height: 1px;width: 100%;left: 0;background: #d80606;}

.reviewer-box a.header-form {
    background: #16143e;
    padding: 5px 20px;
    color: #fff;
    border-radius: 20px;
    font-size: .9rem;
    margin-top: 10px;
    display: inline-block;
}
.company .heading h2 {
    margin-bottom: 30px;
}

.achivement {
    padding: 50px 30px;
    background: #fff;
    margin-bottom: 0px;
    border-radius: 8px;
}

.achivement h2 {
    color: #d80606;
    margin-bottom: 10px;
}
.testimonials{background: #f4f9fc;position: relative;padding: 70px 0;overflow: hidden;}
.testimonials::before {content: "";position: absolute;left: auto;top: 0;height: 100%;
    width: 100%;
    background: url(../images/new/section_bg04.jpg.webp) no-repeat center center;background-size: cover;right: 0;}
.testimonialspic {border-radius: 0;width: 90px;margin: -70px auto 20px;display: block;padding: 5px;background: #fff;border: #18305d 1px solid;height: 90px;}
.testimonialthmb {padding: 30px;background: #fff;position: relative;display: inline-block;width: 100%;text-align: center;border: #ddd 1px solid;margin-top: 40px;}
.quoteicon {width: 65px;position: absolute;top: -30px;background: #fff;left: auto;right: 20px;padding: 10px;}
.rating {text-align: center;color: #d80606;font-size: .5rem !important;}
.rating i {margin: 8px 1px 10px 0;font-size: 14px;}
.testmonilasquotes {text-align: left;margin-top: 10px;font-weight: 300;}
.clientdetails {display: flex;width: 80%;background: #f1f1f1;border-radius: 0 60px 60px 0px;position: relative;justify-content: flex-end;align-items: center;left: -20px;}
.clientinfo {font-size: 1.3rem;margin-right: 0;text-align: center;}
.clientinfo span {display: block;font-size: 1rem;}
.quottitles {font-size: 1.5rem;padding: 10px 0px 0;color: #18305d;}
.testimonialthmb::before{position: absolute;content: "";background: url(../images/quote.png) no-repeat;width: 44px;height: 44px;top:20px;left:auto;right: 20px;bottom:auto;background-size: contain;z-index: 9;opacity: 1;}
.blogthumbnail {position: relative;background: #fff;margin-bottom: 30px;padding-bottom: 30px;border: #f5f5f5 1px solid;}
section.blogs {background: #ffffff;padding: 70px  0 30px;}
.blogpicture {position: relative;width: 100%;}
.blogpicture img {width: 100%;max-height: 250px;object-fit: cover;object-position: top center;}
.postdate {position: absolute;top: 0;bottom: auto;padding: 5px 20px;background: #18305d;border-radius: 0 4px 0  0;transition: all .2s ease-in;left: auto;right: 0;color: #fff;}
.blogthumbnail .title {padding: 14px 15px 8px;font-weight: 400;}
.blogthumbnail .title a, .blogthumbnail a.readmore {color: #18305d;}
.blogthumbnail p {padding: 0 15px;}
.blogthumbnail a.readmore {padding: 14px 20px 40px;display: inline-block;}
footer {padding: 50px  0 0;background:url(../images/footer-map.png) no-repeat #f8f8fb center center; background-size: cover;}
.brandimg {margin-bottom: 7px;}
.thumbfooter p {font-size: .9rem;line-height: 1.7rem;color: #16143e;
font-weight: 400;
}
footer ul {margin: 0;padding: 0;list-style: none;display: block;clear: both;}
footer h4 {font-size: 1.4rem;color: #16143e;font-weight: 400;position: relative;margin-bottom: 35px;}
footer input[type="text"], footer input[type="email"], footer input[type="number"], footer input[type="submit"], select, textarea,
 input[type="text"],  input[type="email"],  input[type="number"],  input[type="submit"], select, textarea {width: 100%;margin-bottom: 15px;height: 40px;background: transparent;border: #ddd 1px solid;padding: 0px 10px;color: #fff; }
footer input[type="submit"], input[type="submit"] {background: #18305d;border: #18305d  1px solid;font-size: 1.7rem;height: auto;padding: 5px 0px;border-radius: 4px;line-height: normal;}
:focus, .form-control:focus {outline: 0px;box-shadow: none;}
input[type="text"],  input[type="email"],  input[type="number"],  input[type="submit"], select, textarea{color:#222}
select{background: #fff;}
input[type="submit"] {color: #fff;}
#exampleModalCenter h5 {font-size: 1.4rem;color: #386bd9;}
#exampleModalCenter h5 span {display: block;font-size: 1rem;color: #222;}
textarea{max-height: 120px; height:80px; padding: 10px;}
footer h4::before {content: "";position: absolute;left: 0;top: auto;bottom: -10px;height: 2px;width: 90px;background: #16143e;}
footer h4::after {content: "";position: absolute;left: 0;top: auto;bottom: -10px;height: 2px;width: 45px;background: #c70000;}
footer ul.footermenu li a {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
.copyright {
    padding: 10px 0px;
    border-top: #fff2 1px solid;
    margin-top: 20px;
    background: #16143e;
}
.copyright p.mb-0 {
    font-size: 14px;
    color: #fff;
}
footer ul.footermenu li {width: 100%;margin-bottom: 6px;line-height: normal;float: left;color: #16143e;line-height: 1.7rem;font-size: 15px;font-weight: 400;}
footer ul.footermenu li a {color: #16143e;font-size: 15px;font-weight: 400;}
.copyright  li {display: inline-block;text-align: right;margin-right: 10px;}
.copyright  ul {text-align: right;}
.copyright li a {color: #fff;font-size: 14px;}
.widget {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 100%;
}

.widget .widget-title {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

.widget p {
    color: #fff;
}

.widget a {
    color: #f00;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
}
ul.socialmedia {
    display: flex;
}

ul.socialmedia li a {
    width: 35px;
    height: 35px;
    margin: 10px 3px;
    background:  #c70000;
    text-align: center;
    border-radius: 50%;
    line-height: 35px;
    color: #fff;
    display: inline-block;
    font-size: 1rem;
}

ul.socialmedia li a:hover {
    color: #fff;
    background: #16143e;
}
.new-menu {max-width: 100%;width: 100%;}
.dropdown-content a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/******** responsive	***********/
@media (max-width: 768px){
	button.navbar-toggler {
    border: 1px solid #000;
}
.company {
    padding: 40px 0px;
}
.company .mt-4 {
    margin-top: 0px !important;
}
.reviewer-box h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.achivement{margin-bottom: 30px;}
.featurethum span.value{display: none;}
.featurethum {
    padding: 15px;
    border: #ffffff30 1px solid;
    text-align: left;
}
section.google-review h2 {
    font-size: 2rem;
    line-height: 2.5rem;
}
section.google-review {
    padding: 40px 0 110px;
    background-position: bottom center;
    background-size: contain;
}
span.navbar-toggler-icon {
    position: relative;
}

span.navbar-toggler-icon {
    border-top: 1px solid #000;
    position: relative;
    display: block;
	top: 5px;
}

span.navbar-toggler-icon:before {content: "";width: 100%;height: 1px;background: #000;position: absolute;top: 8px;left: 0;}

span.navbar-toggler-icon:after {content: "";width: 100%;height: 1px;background: #000;position: absolute;left: 0;bottom: 12px;}
.navbar-nav .nav-link {
    display: inline-block;
    padding: 10px 20px;
}
.offset-md-6
{
	margin-left: 0;
}	
.rev-inner {
    margin-bottom: 20px;
}
section.contact .contact-inner {
    margin-top: 20px;
}
.footer-work li {
    width: 40%;
}
.footer-social li {
    margin: 20px 9px 0 0;
}

body{
	overflow-x: hidden;
}
	
}

@media (max-width: 767px){
	.banner-form input {
    width: 100%;
    margin: 0 0 30px 0;
}
section.google-review {
    text-align: center;
}
section.google-review img{
 margin-bottom: 20px;
 max-width: 100%;
}	
section.services {
    padding: 20px 0 50px;
}
.search-inner form {
    flex-direction: column;
}
.search-inner .form-container {
    max-width: 100%;
    width: 100%;
}
.search-inner .search-btn {
    display: block;
    text-align: center;
    margin: 0 auto;
}
.search-inner .form-container {
    margin-bottom: 20px;
}
.blog-main,
.faq-left {
    margin-bottom: 40px;
}



.contact-inner {
    flex-direction: column;
}
.contact-Desc {
    max-width: 100%;
    width: 100%;
    text-align: center;
}
.contact-img {
    display: block;
    margin: 20px auto;
}
.new-foo {
    margin-top: 50px;
}
section.banner h1 {
    line-height: 50px;
    font-size: 30px;
}
.heading h2 {
    font-size: 26px;
}

section.footer .footer-column h2 {
    font-size: 23px;
}
.footer-main {
    flex-direction: column;
}
.footer-main-right {
    margin-top: 20px;
}


}

/****************	consultant********/
.search-inner select {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
    border-radius: 3px;
    height: 45px;
}
.headertopleft a {
    display: block;
    text-align: right;
    color: #16143e;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 5px;
}

.headertopleft i {
    color: #d80606;
    margin-right: 6px;
}
a, a:hover{ text-decoration: none; transition: all .2s ease-in;}
.search-inner form .row {
    width: 100%;
    margin: 0px;
}

.search-inner button {
    width: 100%;
    margin-top: 30px;
    height: 45px;
    border: 0px;
    background: #d80606;
    color: #fff;
    border-radius: 4px;
}
.srchform {
    margin-top: -40px;
}
.company ul li:last-child {
    margin: 0;
}
form.formquote {
    display: inline-block;
    width: 100%;
}

form.formquote input, form.formquote select {
    width: 100%;
    border: 0px;
    border-bottom: #ddd 1px dashed;
    margin-bottom: 10px;
    border-radius: 0px;
    font-weight: 200;
}

form.formquote .form-group {
    display: inline-block;
    width: 100%;
}

form.formquote textarea {
    max-height: 90px;
    height: 90px;
    border: 0px;
    border-bottom: #ddd 1px dashed;
    border-radius: 0px;
    text-align: left;
    font-weight: 200;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #ddd;
}
.featurethum {
    padding: 30px;
}

.featurethum .discription {
    clear: both;
    margin-top: 18px;
    display: inline-block;
    width: 100%;
    color: #fff;
}

.featurethum h4 {
    float: left;
    color: #ffffff;
    padding-top: 20px;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 400;
}

.featurethum .featureicon {
    float: left;
}

.featurethum span.value {
    background: #d80606;
    height: 40px;
    width: 40px;
    position: absolute;
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    line-height: 40px;
    border-radius: 50%;
    left: -20px;
}
p {
    font-size: 1rem;
    line-height: 28px;
    font-weight: 300;
    color: #222;
}
.banner-form::before {content: "";position: absolute;top: -30px;background: url(../images/download.png) no-repeat #c70000 center;height: 70px;width: 70px;margin: auto;border-radius: 50%;left: 0;right: 0;border: #fff 4px solid; 	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;}


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body
{
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 300;
}
h1, h2, h3, h4, h5,  h6
{
	font-family: 'Fira Sans', sans-serif;
	line-height: 100%;
	color: #212121;
}


:root
{
	--primary-color: #16143e;
	--secondary-color: #000;
	
}
nav.navbar ul li a {
    color: #000;
    font-size: 14px;
    font-weight: 500;
	transition: all 0.3s linear;
	text-transform: uppercase;
}
nav.navbar ul li:hover a {
    color: #fff;
	background: var(--primary-color)
}
.navbar-nav li a {
    margin-right: 20px;
}
.achivement h3 {
    color: #16143e;
    font-weight: 500;
    font-size: 1.5rem;
}

nav.navbar a.navbar-brand {
    color: #000;
    font-weight: bold;
    font-size: 25px;
}
.banner-form h1
{
    color: #000;
}

section.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://resources.workable.com/wp-content/uploads/2015/11/business-consultant-640x230.jpg);
    width: 100%;
    padding: 170px 0 60px;
    position: relative;
    background-size: cover;
    background-position: bottom center;
}


section.banner .hero_text h1 {
    color: #fff;
    text-align: left;
}

section.banner h1 {
    color: #000;
    line-height: 60px;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}
.hero_para {
    margin-top: 50px;
}

.hero_para h3 {
    color: #c70000;
    font-family: poppins;
    font-weight: bold;
}

.hero_para p {
    color: #fff;
    font-family: poppins;
}

.hero_text p{
    color: #fff;
}
.googleratings {
    margin-top: 20px;
}
.banner .banner-form
{
	background: rgb(255 255 255);
	padding: 50px 30px 30px;
	border-radius: 10px;
	position: relative;
	display: inline-block;
	width: 100%;
	text-align: center;
}

section.google-review {
    background: url(../images/bg.png) no-repeat #16143e;
    padding: 40px 0 340px;
    background-position: bottom center;
}

section.google-review h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 2.4rem;
    color: #fff;
}

.googleratings img {
    margin: auto auto 20px;
    display: block;
}
section.banner button {
    border-color: transparent;
    background: #16143e;
    color: #ffff;
    padding: 6px 0px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin: 10px 0;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}
.search-main button:hover,
section.banner button:hover {
	background: #e62e2d;
	color: #fff;
}
.company-left button:hover {
    background: var(--primary-color);
	}
	
	.faq-left button:hover
	{
		background: #000000a1;
	}
	.blog-main-desc a:hover i {
    padding-left: 10px;
}
section.services{
		padding: 70px 0px 40px;
		position: relative;
		background: #ffffff;
		overflow: hidden;
}
section.services:before
{
	background: url("../images/Transparent-background-with-dots.png");
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.2;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
}

.heading h2{
		text-transform: capitalize;
		font-size: 30px;
		font-weight: 500;
		line-height: 40px;
		margin-bottom: 30px;
		color: #16143e;
	}
.heading h2 span{
		font-size: 20px;
		display: block;
		color: #d80606;
	}
	.featurethum .discription p {
    color: #fff;
}

.services-inner::before {content: "";position: absolute;left: auto;right: 30px;height: 50px;width: 5px;background: #16143e;top: 0;transition: all .1s ease-in;}

.services-inner::after {
    content: "";
    position: absolute;
    left: auto;
    right: 40px;
    height: 30px;
    width: 5px;
    background: #d80606;
    top: 0;
    transition: all .1s ease-in;
}

.services-inner:hover::before {
    height: 30px;
}

.services-inner:hover::after {
    height: 50px;
}
.services-inner p {
    margin: 0;
    line-height: 32px;
}
.services-inner {
		margin-bottom: 30px;
		background: #fff;
		padding: 30px;
		text-align: left;
		box-shadow: #f9f9f9 0 0 20px;
		position: relative;
		transition: all .1s ease-in;
	}
.services-inner h3 {
    font-size: 1.5rem;
    color: #16143e;
    font-weight: 500;
    margin: 15px 0px;
    padding: 0;
}
.company p.company-text {
    margin: 0px;
}
.company ul {
    margin-top: 30px;
    list-style: none;
}
.company ul li {
	margin-bottom: 13px;
	position: relative;
	color: #fff;
	padding-left: 40px;
	font-weight: 400;
	font-size: 1.2rem;
}
.company ul li:before {content: "";width:24px;height:24px;border-radius: 50%;background:url(../images/checked.png) no-repeat;display: inline-block;margin-right: 0;background-size: contain;position: absolute;left: 0;}

.company button {
    border: 1px solid var(--primary-color);
    background: transparent;
    text-transform: uppercase;
	padding: 10px 15px;
	display: inline-block;
	margin-top: 20px;
	transition: all 0.3s ease;
}
.company {
    background: url("../images/texture.jpg");
    padding: 70px 0;
    margin: 0px 0;
    opacity: 1;
    position: relative;
}
.search-inner {
    background: #fff;
    padding: 40px 20px;
    box-shadow: 0 0 20px #ddd;
    border-radius: 10px;
    display: flex;
    width: 100%;
}
.search-inner form {
    display: flex;
    align-items:flex-end;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
.search-inner form label {
    display: block;
    color: #16143e;
    font-size: 1rem;
    font-weight: 400;
}
.search-inner .form-container {
    max-width: 43%;
    width: 100%;
}
.search-inner .form-container select {
    width: 100%;
	padding: 10px;
}

.search-inner .form-container .search-btn {
    width: 100%;
	padding: 10px;	
}
.search-inner .search-btn button {
    background: var(--primary-color);
    width: 100%;
    padding: 10px 50px;
    border: none;
}
.search-inner .search-btn i{
	color: #fff;
}
section.reviews{
	padding: 150px 0 80px;
}
section.reviews p {
    font-size: 18px;
    font-weight: normal;
    line-height: 23px;
	color: #202046;
}
section.reviews p.name {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
	color: #1f232b;
	margin-bottom: 0;
}
section.reviews p i {
	color: #fab423;
	font-size: 14px;
	margin-right: 3px;
}

section.packers .search-first {
    display: flex;
    justify-content: space-between;
}
.search-first-left {
    max-width: 50%;
    width: 50%;
    flex: 0 0 50%;
}
.search-first img {
    height: 150px;
    object-fit: cover;
}
.search-main {
    margin-top: 50px;
    box-shadow: 4px 3px 10px #00000030;
    padding: 20px;
    border-radius: 10px;
}
.search-first-left h5 {
    font-size: 18px;
    line-height: 25px;
}
.search-first-left p.star {
    margin-bottom: 0px;
    color: var(--primary-color);
    font-weight: 500;
}
.search-main button {
    background: var(--primary-color);
    color: #fff;
    padding: 7px 20px;
    border-color: transparent;
	transition: all 0.3s linear;
}

.faq .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        background-color: #c9ecf7;
		  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.faq .panel-title a:before{
	background: var(--primary-color);
	color: #fff;
	border-radius: 50%;
	font-size: 12px;
	padding: 4px 7px;
	margin-right: 10px;
	
}
.faq .panel-title a.collapsed:after{
    content: "\f067";
    font-family: 'FontAwesome';
    position: absolute;
    right: 15px;
	font-size: 15px;
	font-weight: normal;
}
.faq .panel-title a:after{
    content: "\f068";
    font-family: 'FontAwesome';
    position: absolute;
    right: 15px;
	font-size: 15px;
	font-weight: normal;
}

.faq .panel-title a{
        font-size: 17px;
		font-family: roboto;
		font-weight: normal;
		position: relative;
		color: #1f232b;
    }

.faq {
  counter-reset: faq;
background: linear-gradient(to right, #6dd5ed, #2193b0);
    padding: 50px 0;
}

.faq h4 a::before {
  counter-increment: faq;
  content: counter(faq);
}

.faq .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

.faq .more-less {
        float: right;
        color: #212121;
    }

.faq .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }

.panel.panel-default .panel-collapse {
    border: 1px solid var(--primary-color);
    padding: 10px;
    margin-bottom: 20px;
	background: #fff;
}

.faq .panel-default > .panel-heading h4 {
    margin-bottom: 0;
}

.panel.panel-default {
    margin-bottom: 20px;
}

.faq .faq-left input:focus,.faq-left textarea:focus
{
		outline: none;
		box-shadow: none;
}

.faq .faq-left input,.faq-left textarea
 {
    border: none;
    border-bottom: 2px solid #000;
    border-radius: 0;
	background: 0 0;
	padding: 10px;
}
.faq-left textarea {
    resize: none;
}

.faq-left button {
    background: #000;
    border: transparent;
    padding: 10px 30px;
    font-size: 17px;
    text-transform: uppercase;
	color: #fff;
	transition: all 0.3s linear;
}

.faq-right {
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 6%);
}

.panel.panel-default:hover .panel-heading {
    padding-left: 10px;
}
.faq .faq-left label{
	color: #fff;
}
section.faq input::placeholder,
section.faq textarea::placeholder {
    color: #000;
}
.faq-left .form-group {
    margin-bottom: 40px;
}
.blog-main-desc p.heading {
    font-size: 18px;
    color: #444444;
    font-weight: 600;
}
.blog-main-desc p {
    font-size: 15px;
    line-height: 22px;
	transition: all 0.3s ease;
}
ul.footer-social li:hover {
    transform: scale(1.2);
}
.blog-main-desc a {
    color: #444444;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    margin: 20px 0 0;
}
.blog-main-desc a i {
    margin-left: 20px;
    font-size: 19px;
}
.blog-main-img img {
    width: 100%;
}
.blog-main-desc {
    padding: 25px 15px;
    background: #fff;
    box-shadow: 0px 0px 10px #00000036;
}
.blog-main-date {
    position: absolute;
    background: var(--primary-color);
    padding: 10px;
    top: -10px;
    left: 10px;
	text-align: center;
}
.blog-main-date p{
	color: #fff;
	margin-bottom: 0;
	font-weight: bold;
}
.blog-main-date p.date{
	font-size: 20px;
}
.blog-main-date p.date:after{
	content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 0;
}
section.blog{
	padding: 100px 0;
}
section.contact {
    background:url(../images/row-bgimage-6.jpg) no-repeat center center;
    padding: 50px 0;
    background-size: cover;
}
section.contact::before{content: "";position: absolute;left: 0;top: 0;width:100%;height: 100%;background: #16143ee3;}
section.contact .contact-inner {
    color: #fff;
}
section.contact .contact-inner h3 {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 33px;
    text-align: center;
}
section.contact .contact-inner h3 span {
    display: block;
    font-size: 30px;
}
.contact-inner {
    display: flex;
    justify-content: space-between;
}

.contact-Desc {
    max-width: 80%;
    width: 100%;
}

.contact-Desc  p.heading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-Desc p {
    margin-bottom: 0;
}
section.contact {
    position: relative;
    margin: 0;
}

.footer-main img {
    width: 100%;
}

.footer-inner ul li img {
    width: 100%;
}

section.footer {
    background: #171824;
    padding: 80px 0 0;
}

section.footer .footer-column h2 {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
	margin-bottom: 20px;
}

.footer-inner p {
    font-size: 16px;
    color: #999595;
    margin-top: 20px;
}
.footer-social li {
	display: inline-block;
margin: 20px 10px 0 0;
transition:all 0.3s linear;	
}

.footer-social li a i {
    color: #fff;
}

.footer-social li a {
    background: var(--primary-color);
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.footer-main {
    display: flex;
    justify-content: space-between;
}

.footer-main .footer-main-left {
    max-width: 30%;
    width: 30%;
}

.footer-main .footer-main-right {
    max-width: 65%;
    width: 65%;
}
.footer-work li {
    display: inline-block;
    width: 45%;
    margin: 0 20px 20px 0;
}

.footer-work li:nth-child(2n) {
    margin-right: 0;
}	
.footer-main-right p {
    margin: 0;
}
.footer-main-right p {
    color: #fff;
    margin-bottom: 10px;
    line-height: 20px;
}
.footer-work li {
    position: relative;
}

.footer-work li:before {content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: var(--primary-color);opacity: 0;}
.footer-work li {
    position: relative;
}

.footer-work li:hover:before{opacity: 0.6;}
.business-right img{
		width: 100%;
}
.services-inner .img-circle {
    display: block;
}

li.nav-item.contct a {
    margin-right: 0;
    color: var(--primary-color);
}
.footer-main {
    margin-bottom: 20px;
}
.company-right img {
    width: 100%;
}
.reviews-left {
    position: relative;
}

.reviews-left:before {content: "";position: absolute;top: 0;left: 0;width: 40px;height: 40px;background: url("../images/quote.png");background-repeat: no-repeat;background-size: contain;z-index: -1;}
.reviews-left {padding-top: 20px;}
.company::before {content: "";position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: #16143ecc;}

.company .heading h2, .company  p {
    color: #fff;
    margin: 0;
}
section.packers {
    padding: 70px 0 30px;
}

.reviewer-box {
    padding: 30px 30px 50px;
    box-shadow: 0 0 10px #efefef;
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

.reviewer-box h4 a {
    color: #16143e;
}

.reviewer-box .reviewer-star-rating {
    color: #d80606;
    font-weight: 500;
    display: flex;
    font-size: 1.1rem;
}

.reviewer-box .reviewer-star-rating i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.review-type {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 20px 0;
}

.reviewer-img.smallpic {border-radius: 50%;overflow: hidden;width: 70px;height: 70px;margin: auto;border: #16143e 2px solid;}

.reviewer-img.smallpic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.review-type span {
    position: relative;
    background: #fff;
    text-align: center;
    width: 100%;
    padding: 5px 20px;
    border: #d80606 1px solid;
    border-radius: 15px;
    font-size: .8rem;
}

.review-type::before {content: "";position: absolute;top: 50%;height: 1px;width: 100%;left: 0;background: #d80606;}

.reviewer-box a.header-form {
    background: #16143e;
    padding: 5px 20px;
    color: #fff;
    border-radius: 20px;
    font-size: .9rem;
    margin-top: 10px;
    display: inline-block;
}
.company .heading h2 {
    margin-bottom: 30px;
}

.achivement {
    padding: 50px 30px;
    background: #fff;
    margin-bottom: 0px;
    border-radius: 8px;
}

.achivement h2 {
    color: #d80606;
    margin-bottom: 10px;
}
.testimonials{background: #f4f9fc;position: relative;padding: 70px 0;overflow: hidden;}
.testimonials::before {content: "";position: absolute;left: auto;top: 0;height: 100%;
    width: 100%;
    background: #142129;background-size: cover;right: 0;}
.testimonialspic {border-radius: 0;width: 90px;margin: -70px auto 20px;display: block;padding: 5px;background: #fff;border: #18305d 1px solid;height: 90px;}
.testimonialthmb {padding: 30px;background: #fff;position: relative;display: inline-block;width: 100%;text-align: center;border: #ddd 1px solid;margin-top: 40px;}
.quoteicon {width: 65px;position: absolute;top: -30px;background: #fff;left: auto;right: 20px;padding: 10px;}
.rating {text-align: center;color: #d80606;font-size: .5rem !important;}
.rating i {margin: 8px 1px 10px 0;font-size: 14px;}
.testmonilasquotes {text-align: left;margin-top: 10px;font-weight: 300;}
.clientdetails {display: flex;width: 80%;background: #f1f1f1;border-radius: 0 60px 60px 0px;position: relative;justify-content: flex-end;align-items: center;left: -20px;}
.clientinfo {font-size: 1.3rem;margin-right: 0;text-align: center;}
.clientinfo span {display: block;font-size: 1rem;}
.quottitles {font-size: 1.5rem;padding: 10px 0px 0;color: #18305d;}
.testimonialthmb::before{position: absolute;content: "";background: url(../images/quote.png) no-repeat;width: 44px;height: 44px;top:20px;left:auto;right: 20px;bottom:auto;background-size: contain;z-index: 9;opacity: 1;}
.blogthumbnail {position: relative;background: #fff;margin-bottom: 30px;padding-bottom: 30px;border: #f5f5f5 1px solid;}
section.blogs {background: #ffffff;padding: 70px  0 30px;}
.blogpicture {position: relative;width: 100%;}
.blogpicture img {width: 100%;max-height: 250px;object-fit: cover;object-position: top center;}
.postdate {position: absolute;top: 0;bottom: auto;padding: 5px 20px;background: #18305d;border-radius: 0 4px 0  0;transition: all .2s ease-in;left: auto;right: 0;color: #fff;}
.blogthumbnail .title {padding: 14px 15px 8px;font-weight: 400;}
.blogthumbnail .title a, .blogthumbnail a.readmore {color: #18305d;}
.blogthumbnail p {padding: 0 15px;}
.blogthumbnail a.readmore {padding: 14px 20px 40px;display: inline-block;}
footer {padding: 50px  0 0;background:url(../images/footer-map.png) no-repeat #f8f8fb center center; background-size: cover;}
.brandimg {margin-bottom: 7px;}
.thumbfooter p {font-size: .9rem;line-height: 1.7rem;color: #16143e;
font-weight: 400;
}
footer ul {margin: 0;padding: 0;list-style: none;display: block;clear: both;}
footer h4 {font-size: 1.4rem;color: #16143e;font-weight: 400;position: relative;margin-bottom: 35px;}
footer input[type="text"], footer input[type="email"], footer input[type="number"], footer input[type="submit"], select, textarea,
 input[type="text"],  input[type="email"],  input[type="number"],  input[type="submit"], select, textarea {width: 100%;margin-bottom: 15px;height: 40px;background: transparent;border: #ddd 1px solid;padding: 0px 10px;color: #fff; }
footer input[type="submit"], input[type="submit"] {background: #18305d;border: #18305d  1px solid;font-size: 1.7rem;height: auto;padding: 5px 0px;border-radius: 4px;line-height: normal;}
:focus, .form-control:focus {outline: 0px;box-shadow: none;}
input[type="text"],  input[type="email"],  input[type="number"],  input[type="submit"], select, textarea{color:#222}
select{background: #fff;}
input[type="submit"] {color: #fff;}
#exampleModalCenter h5 {font-size: 1.4rem;color: #386bd9;}
#exampleModalCenter h5 span {display: block;font-size: 1rem;color: #222;}
textarea{max-height: 120px; height:80px; padding: 10px;}
footer h4::before {content: "";position: absolute;left: 0;top: auto;bottom: -10px;height: 2px;width: 90px;background: #16143e;}
footer h4::after {content: "";position: absolute;left: 0;top: auto;bottom: -10px;height: 2px;width: 45px;background: #c70000;}
footer ul.footermenu li a {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
.copyright {
    padding: 10px 0px;
    border-top: #fff2 1px solid;
    margin-top: 20px;
    background: #16143e;
}
.copyright p.mb-0 {
    font-size: 14px;
    color: #fff;
}
footer ul.footermenu li {width: 100%;margin-bottom: 6px;line-height: normal;float: left;color: #16143e;line-height: 1.7rem;font-size: 15px;font-weight: 400;}
footer ul.footermenu li a {color: #16143e;font-size: 15px;font-weight: 400;}
.copyright  li {display: inline-block;text-align: right;margin-right: 10px;}
.copyright  ul {text-align: right;}
.copyright li a {color: #fff;font-size: 14px;}
.widget {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 100%;
}

.widget .widget-title {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

.widget p {
    color: #fff;
}

.widget a {
    color: #f00;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
}
ul.socialmedia {
    display: flex;
}

ul.socialmedia li a {
    width: 35px;
    height: 35px;
    margin: 10px 3px;
    background:  #c70000;
    text-align: center;
    border-radius: 50%;
    line-height: 35px;
    color: #fff;
    display: inline-block;
    font-size: 1rem;
}

ul.socialmedia li a:hover {
    color: #fff;
    background: #16143e;
}
.new-menu {max-width: 100%;width: 100%;}


/******** responsive	***********/
@media (max-width: 768px){
	button.navbar-toggler {
    border: 1px solid #000;
}
.company {
    padding: 40px 0px;
}
.company .mt-4 {
    margin-top: 0px !important;
}
.reviewer-box h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.achivement{margin-bottom: 30px;}
.featurethum span.value{display: none;}
.featurethum {
    padding: 15px;
    border: #ffffff30 1px solid;
    text-align: left;
}
section.google-review h2 {
    font-size: 2rem;
    line-height: 2.5rem;
}
section.google-review {
    padding: 40px 0 110px;
    background-position: bottom center;
    background-size: contain;
}
span.navbar-toggler-icon {
    position: relative;
}

span.navbar-toggler-icon {
    border-top: 1px solid #000;
    position: relative;
    display: block;
	top: 5px;
}

span.navbar-toggler-icon:before {content: "";width: 100%;height: 1px;background: #000;position: absolute;top: 8px;left: 0;}

span.navbar-toggler-icon:after {content: "";width: 100%;height: 1px;background: #000;position: absolute;left: 0;bottom: 12px;}
.navbar-nav .nav-link {
    display: inline-block;
    padding: 10px 20px;
}
.offset-md-6
{
	margin-left: 0;
}	
.rev-inner {
    margin-bottom: 20px;
}
section.contact .contact-inner {
    margin-top: 20px;
}
.footer-work li {
    width: 40%;
}
.footer-social li {
    margin: 20px 9px 0 0;
}

body{
	overflow-x: hidden;
}
	
}

@media (max-width: 767px){
	.banner-form input {
    width: 100%;
    margin: 0 0 30px 0;
}
section.google-review {
    text-align: center;
}
section.google-review img{
 margin-bottom: 20px;
 max-width: 100%;
}	
section.services {
    padding: 20px 0 50px;
}
.search-inner form {
    flex-direction: column;
}
.search-inner .form-container {
    max-width: 100%;
    width: 100%;
}
.search-inner .search-btn {
    display: block;
    text-align: center;
    margin: 0 auto;
}
.search-inner .form-container {
    margin-bottom: 20px;
}
.blog-main,
.faq-left {
    margin-bottom: 40px;
}



.contact-inner {
    flex-direction: column;
}
.contact-Desc {
    max-width: 100%;
    width: 100%;
    text-align: center;
}
.contact-img {
    display: block;
    margin: 20px auto;
}
.new-foo {
    margin-top: 50px;
}
section.banner h1 {
    line-height: 50px;
    font-size: 30px;
}
.heading h2 {
    font-size: 26px;
}

section.footer .footer-column h2 {
    font-size: 23px;
}
.footer-main {
    flex-direction: column;
}
.footer-main-right {
    margin-top: 20px;
}


}
/******	mixed css	*******/
ul.sub-menu li {
    display: block;
    width: 100%;
    margin-left: 0;
}

ul.sub-menu {
    width: auto;
    display: block;
    background: #fff;
    border: 1px solid #000;
    padding: 0;
    text-align: left;
}

ul.sub-menu li a {
    margin-left: 0;
    padding: 10px;
}
.testimonial-top-cap i {
    margin-top: 20px;
}
